* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__right a:not(:last-child) {
  margin-right: 33px;
}

.promo {
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #f1e4e6;
}

.promo__img {
  display: flex;
  width: 50%;
}

.promo__photo {
  width: 100%;
}

.promo__text {
  padding-left: 64px;
  width: 50%;
}

.promo__content {
  padding-left: 16px;
  margin-top: 40%;
  border-left: 12px solid #f16d7f;
}

.promo__heading {
  font-family: Lato;
  font-weight: 900;
  font-size: 48px;

  color: #222222;
}

.promo__p {
  font-family: Lato;
  font-weight: 900;
  font-size: 32px;

  color: #222222;
}

.red-title {
  color: #f16d7f;
}

.sales {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sales__top {
  display: flex;
  padding-bottom: 30px;
}

.sales__img {
  width: 100%;
}

.sales__item:not(:last-child) {
  margin-right: 30px;
}

.sales__item {
  position: relative;
}

.sales__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sales__heading {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.sales__p {
  font-family: Lato;
  font-size: 24px;
  text-align: center;
  color: #F16D7F;

}

.catalog {
  padding-bottom: 95px;
}

.catalog__heading {
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  color: #222222;
  margin-bottom: 6px;
  line-height: 36px;
}

.catalog__title {
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  padding-bottom: 18px;
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  max-height: 581px;
  max-width: 360px;
  background: #F8F8F8;
  margin-top: 30px;
}

.catalog__item_c {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  max-height: 581px;
  max-width: 360px;
  background: #F8F8F8;
  margin-top: 30px;
}

.catalog__item:hover .product__add {
  display: flex;
}

.catalog__item:hover .catalog__img {
  filter: brightness(40%);
}



.catalog__img {
  width: 100%;
  max-height: 420px;
}

.catalog__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__info {
  padding-left: 16.46px;
}

.item__heading {
  display: block;
  text-decoration: none;
  padding-top: 24px;
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.item__text {
  padding-top: 12px;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.item__price {
  padding-top: 18px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 139px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.btn__add {
  display: block;
  margin-right: 11px;
}

.browse__btn {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  height: 48px;
  width: 212px;
  font-family: Lato;
  font-size: 16px;
  color: #F26376;
  border: 1px solid #F26376;
  background-color: transparent;
  margin-top: 48px;
  cursor: pointer;
}

.achives {
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

.achives__container {
  display: flex;
}

.achives__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.achives__box {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.achives__heading {
  text-align: center;
  padding-top: 28px;
  font-family: Lato;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.achives__text {
  text-align: center;
  padding-top: 16px;
  font-family: Lato;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  background: url('img/subs_bg.png') center center / cover no-repeat;
}

.subscribe__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 359px;
}

.subscribe__text {
  max-width: 359px;
  margin-top: 30px;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.italic__text {
  font-size: 23px;
  font-family: Italic serif;
  line-height: 24px;
  color: #222224;
}

.subscribe__container {
  max-height: 100%;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 557px;
}

.form__field {
  margin-top: 32px;
  display: flex;
}

.form__field .form__text {
  display: block;
  width: 256px;
  height: 36px;
  border: none;
  border-radius: 40px 0 0 40px;
  background: #E1E1E1;
  padding: 7px 0 6px 22px;
  text-align: left;
}

.form__text:focus {
  outline: none;
}

.form__field .form__btn {
  display: block;
  border: none;
  width: 100px;
  height: 49px;
  border: none;
  border-radius: 0 40px 40px 0;
  background-color: transparent;
  background: #F16D7F;
}

.form__btn:hover {
  background: #E05C6E;
}

.form__btn:focus {
  outline: none;
}



.form__heading,
.form__text {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;

  text-align: center;
  color: #222224;
}

.form__btn {
  color: #FFFFFF;

}

.form__text {
  font-weight: 400;
  font-size: 18px;
}

.footer {
  background-color: #222224;
  display: flex;
  min-height: 79px;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
}

.copy {
  font-family: Lato;
  font-size: 16px;
  color: #FBFBFB;
}

.social__icons {
  display: flex;
  height: 32px;
  width: 32px;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.social__icons:not(:last-child) {
  margin-right: 7.3px;
}

.social__icons:hover {
  background: #F16D7F;
}

.social__icons:hover svg path {
  fill: #FFFFFF;
}

.catalog-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F3F4;
  height: 148px;
  max-width: 100%;
}

.arrivals {
  font-family: Lato;
  font-size: 24px;
  color: #F16D7F;
}

.crumb {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.active {
  color: #F16D7F;
}


.crumb:not(:last-child):after {
  content: '/';
  padding-left: 5px;
}